<div class="row">
  <div class="col-lg-12">
    <app-bread-crumb [heading]="'Upload'" [(urlPart)]="urlpart"></app-bread-crumb>

     
<input type="file" (change)="incomingfile($event)" accept=".xlsx">

<button type="button" class="btn btn-primary" (click)="Upload()">
  Upload</button>

  <div class="alert alert-info custom-alert-info" *ngIf="fileinfo.length==0">
    <strong>Success!</strong> Click browser to upload the files .
  </div>


  <!-- <div class="tooltip">Hover over me
    <span class="tooltiptext">Tooltip text</span>
  </div> -->

  
  </div>
</div>